# EditorConfig is awesome: 
#   http://EditorConfig.org

# top-most EditorConfig file
root = true


# defaults
[*]
end_of_line = lf
insert_final_newline = true     

[{*.ini,*.py,*.rst,WORKSPACE,BUILD,*.BUILD}]
indent_style = space
indent_size = 4

[{Makefile}]
indent_style = tab
indent_size = 4

[{*.yml,*.sh,*.c,*.h,*.cxx,*.hxx,*.cc,*.hh,*.cpp,*.hpp}]
indent_style = space
indent_size = 2
